body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(217, 54%, 11%);
	width: 100%;
	height: 900px;
}

.container {
	width: 300px;
	height: 550px;
	padding-right: 20px;
	background-color: hsl(216, 50%, 16%);
	border: 1px hidden;
	border-radius: 15px;
	box-shadow: 0 0 10px black;
}

.nftImage {
	width: 270px;
	height: 270px;
	margin-top: 25px;
	margin-left: 25px;
	border: 1px hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
}

.nftImage:hover {
	background-image: url(../images/icon-view.svg);
}

.nftHover {
	position: absolute;
	top: 200px;
	left: 538px;
	width: 270px;
	height: 270px;
	border: 1px hidden;
	border-radius: 5px;
	background-color: hsl(178, 100%, 50%, 60%);
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s;
}

.nftHover:hover {
	cursor: pointer;
	opacity: 100%;
}

.nftHoverImg {
	opacity: 100%;
	margin-top: 120px;
}

.title {
	display: inline-block;
	margin-left: 25px;
	margin-bottom: 5px;
	color: hsl(0, 0%, 100%);
	transition: color 0.3s;
}

.title:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.mainText {
	line-height: 25px;
	padding-left: 25px;
	color: hsl(215, 51%, 70%);
}

.price {
	display: inline-block;
	margin: 0;
	padding-left: 25px;
	color: hsl(178, 100%, 50%);
}

.price::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 20px;
	background-image: url(../images/icon-ethereum.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 5px;
}

.timeLeft {
	display: inline-block;
	margin: 0;
	padding-left: 75px;
	color: hsl(215, 51%, 70%);
}

.timeLeft::before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 5px;
	background-image: url(../images/icon-clock.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.poster {
	width: 270px;
	border-top: 1px solid hsl(215, 32%, 27%);
	margin-top: 25px;
	margin-left: 25px;
}

.avatar {
	float: left;
	width: 40px;
	margin-top: 15px;
	margin-right: 20px;
	border: 1px solid white;
	border-radius: 50px;
}

.posterText {
	color: hsl(215, 51%, 70%);
	padding-top: 10px;
}

.posterLink {
	color: white;
	transition: color 0.3s;
}

.posterLink:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.attribution {
	background-color: hsl(217, 54%, 11%);
	color: white;
}

a {
	color: hsl(178, 100%, 50%);
}